In [132]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
dataP = pd.read_csv('../data/PatientInfo.csv')

In [133]:
dataP.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5165 entries, 0 to 5164
Data columns (total 14 columns):
patient_id            5165 non-null int64
sex                   4043 non-null object
age                   3785 non-null object
country               5165 non-null object
province              5165 non-null object
city                  5071 non-null object
infection_case        4246 non-null object
infected_by           1346 non-null object
contact_number        791 non-null object
symptom_onset_date    690 non-null object
confirmed_date        5162 non-null object
released_date         1587 non-null object
deceased_date         66 non-null object
state                 5165 non-null object
dtypes: int64(1), object(13)
memory usage: 565.0+ KB

In [134]:
dataP

,patient_id,sex,age,country,province,city,infection_case,infected_by,contact_number,symptom_onset_date,confirmed_date,released_date,deceased_date,state
0,1000000001,male,50s,Korea,Seoul,Gangseo-gu,overseas inflow,NaN,75,2020-01-22,2020-01-23,2020-02-05,NaN,released
1,1000000002,male,30s,Korea,Seoul,Jungnang-gu,overseas inflow,NaN,31,NaN,2020-01-30,2020-03-02,NaN,released
2,1000000003,male,50s,Korea,Seoul,Jongno-gu,contact with patient,2002000001,17,NaN,2020-01-30,2020-02-19,NaN,released
3,1000000004,male,20s,Korea,Seoul,Mapo-gu,overseas inflow,NaN,9,2020-01-26,2020-01-30,2020-02-15,NaN,released
4,1000000005,female,20s,Korea,Seoul,Seongbuk-gu,contact with patient,1000000002,2,NaN,2020-01-31,2020-02-24,NaN,released
5,1000000006,female,50s,Korea,Seoul,Jongno-gu,contact with patient,1000000003,43,NaN,2020-01-31,2020-02-19,NaN,released
6,1000000007,male,20s,Korea,Seoul,Jongno-gu,contact with patient,1000000003,0,NaN,2020-01-31,2020-02-10,NaN,released
7,1000000008,male,20s,Korea,Seoul,etc,overseas inflow,NaN,0,NaN,2020-02-02,2020-02-24,NaN,released
8,1000000009,male,30s,Korea,Seoul,Songpa-gu,overseas inflow,NaN,68,NaN,2020-02-05,2020-02-21,NaN,released
9,1000000010,female,60s,Korea,Seoul,Seongbuk-gu,contact with patient,1000000003,6,NaN,2020-02-05,2020-02-29,NaN,released
10,1000000011,female,50s,China,Seoul,Seodaemun-gu,overseas inflow,NaN,23,NaN,2020-02-06,2020-02-29,NaN,released
11,1000000012,male,20s,Korea,Seoul,etc,overseas inflow,NaN,0,NaN,2020-02-07,2020-02-27,NaN,released
12,1000000013,male,80s,Korea,Seoul,Jongno-gu,contact with patient,1000000017,117,NaN,2020-02-16,NaN,NaN,deceased
13,1000000014,female,60s,Korea,Seoul,Jongno-gu,contact with patient,1000000013,27,2020-02-06,2020-02-16,2020-03-12,NaN,released
14,1000000015,male,70s,Korea,Seoul,Seongdong-gu,Seongdong-gu APT,NaN,8,2020-02-11,2020-02-19,NaN,NaN,released
15,1000000016,male,70s,Korea,Seoul,Jongno-gu,contact with patient,1000000017,NaN,NaN,2020-02-19,2020-03-11,NaN,released
16,1000000017,male,70s,Korea,Seoul,Jongno-gu,contact with patient,1000000003,NaN,NaN,2020-02-20,2020-03-01,NaN,released
17,1000000018,male,20s,Korea,Seoul,etc,etc,NaN,NaN,NaN,2020-02-20,NaN,NaN,released
18,1000000019,female,70s,Korea,Seoul,Jongno-gu,contact with patient,1000000021,NaN,NaN,2020-02-20,2020-03-08,NaN,released
19,1000000020,female,70s,Korea,Seoul,Seongdong-gu,Seongdong-gu APT,1000000015,NaN,NaN,2020-02-20,NaN,NaN,released
20,1000000021,male,80s,Korea,Seoul,Jongno-gu,contact with patient,1000000016,NaN,NaN,2020-02-20,2020-03-08,NaN,released
21,1000000022,male,30s,Korea,Seoul,Seodaemun-gu,Eunpyeong St. Mary's Hospital,NaN,NaN,NaN,2020-02-21,NaN,NaN,released
22,1000000023,male,50s,Korea,Seoul,Seocho-gu,Shincheonji Church,NaN,NaN,NaN,2020-02-21,NaN,NaN,released
23,1000000024,male,40s,Korea,Seoul,Guro-gu,contact with patient,NaN,NaN,NaN,2020-02-22,2020-03-14,NaN,released
24,1000000025,male,60s,Korea,Seoul,Gangdong-gu,Eunpyeong St. Mary's Hospital,1000000022,NaN,NaN,2020-02-22,NaN,NaN,released
25,1000000026,male,30s,Korea,Seoul,Seocho-gu,etc,NaN,NaN,2020-02-21,2020-02-22,2020-03-11,NaN,released
26,1000000027,male,50s,Korea,Seoul,Gangseo-gu,overseas inflow,NaN,NaN,NaN,2020-02-23,2020-03-04,NaN,released
27,1000000028,female,70s,Korea,Seoul,Jongno-gu,Eunpyeong St. Mary's Hospital,NaN,NaN,NaN,2020-02-23,2020-03-11,NaN,released
28,1000000029,female,20s,Korea,Seoul,Jongno-gu,Eunpyeong St. Mary's Hospital,1000000028,NaN,2020-02-11,2020-02-26,2020-03-11,NaN,released
29,1000000030,male,60s,China,Seoul,Gangdong-gu,Eunpyeong St. Mary's Hospital,NaN,NaN,NaN,2020-02-23,NaN,NaN,released
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5135,6100000123,female,20s,Korea,Gyeongsangnam-do,Gimhae-si,etc,NaN,NaN,NaN,2020-06-05,NaN,NaN,released
5136,6100000124,male,40s,Korea,Gyeongsangnam-do,Yangsan-si,etc,NaN,NaN,NaN,2020-06-08,NaN,NaN,released
5137,6100000125,female,40s,Korea,Gyeongsangnam-do,Yangsan-si,etc,NaN,NaN,NaN,2020-06-09,NaN,NaN,isolated
5138,6100000126,female,10s,Korea,Gyeongsangnam-do,Yangsan-si,etc,NaN,NaN,NaN,2020-06-09,NaN,NaN,isolated
5139,6100000127,male,40s,Korea,Gyeongsangnam-do,Gimhae-si,etc,NaN,NaN,NaN,2020-06-14,NaN,NaN,released
5140,6100000128,male,40s,Korea,Gyeongsangnam-do,Geoje-si,overseas inflow,NaN,NaN,NaN,2020-06-14,NaN,NaN,released
5141,6100000129,male,40s,Korea,Gyeongsangnam-do,Geoje-si,overseas inflow,NaN,NaN,NaN,2020-06-14,NaN,NaN,isolated
5142,6100000130,NaN,NaN,Korea,Gyeongsangnam-do,Hapcheon-gun,overseas inflow,NaN,NaN,NaN,2020-06-15,NaN,NaN,released
5143,6100000131,male,40s,Korea,Gyeongsangnam-do,Geoje-si,overseas inflow,NaN,NaN,NaN,2020-06-15,NaN,NaN,isolated
5144,6100000132,male,30s,Korea,Gyeongsangnam-do,Gimhae-si,overseas inflow,NaN,NaN,NaN,2020-06-20,NaN,NaN,isolated
5145,6100000133,male,30s,Korea,Gyeongsangnam-do,Yangsan-si,overseas inflow,NaN,NaN,NaN,2020-06-28,NaN,NaN,isolated
5146,7000000001,male,20s,Korea,Jeju-do,Jeju-do,etc,NaN,87,NaN,2020-02-20,2020-03-23,NaN,released
5147,7000000002,female,20s,Korea,Jeju-do,Jeju-do,etc,NaN,84,NaN,2020-02-22,2020-03-07,NaN,released
5148,7000000003,female,40s,Korea,Jeju-do,etc,etc,NaN,21,NaN,2020-03-02,2020-03-15,NaN,released
5149,7000000004,male,40s,Korea,Jeju-do,Jeju-do,etc,NaN,74,NaN,2020-03-04,2020-03-21,NaN,released
5150,7000000005,female,20s,Korea,Jeju-do,Jeju-do,overseas inflow,NaN,20,NaN,2020-03-24,2020-05-08,NaN,released
5151,7000000006,male,30s,United States,Jeju-do,Jeju-do,overseas inflow,NaN,23,NaN,2020-03-24,2020-05-05,NaN,released
5152,7000000007,female,20s,Korea,Jeju-do,Jeju-do,overseas inflow,NaN,26,NaN,2020-03-25,2020-04-03,NaN,released
5153,7000000008,female,10s,Korea,Jeju-do,Jeju-do,overseas inflow,NaN,25,NaN,2020-03-27,2020-04-12,NaN,released
5154,7000000009,female,20s,Korea,Jeju-do,Jeju-do,overseas inflow,NaN,14,NaN,2020-03-29,2020-04-28,NaN,released
5155,7000000010,female,20s,Korea,Jeju-do,Jeju-do,overseas inflow,NaN,18,NaN,2020-04-03,2020-04-21,NaN,released
5156,7000000011,male,30s,Korea,Jeju-do,Jeju-do,contact with patient,7000000009,5,NaN,2020-04-03,2020-05-19,NaN,released
5157,7000000012,female,20s,Korea,Jeju-do,Jeju-do,overseas inflow,NaN,9,NaN,2020-04-03,2020-05-05,NaN,released
5158,7000000013,female,10s,China,Jeju-do,Jeju-do,overseas inflow,NaN,6,NaN,2020-04-14,2020-04-26,NaN,released
5159,7000000014,female,30s,Korea,Jeju-do,Jeju-do,Itaewon Clubs,NaN,140,NaN,2020-05-09,2020-06-12,NaN,released
5160,7000000015,female,30s,Korea,Jeju-do,Jeju-do,overseas inflow,NaN,25,NaN,2020-05-30,2020-06-13,NaN,released
5161,7000000016,NaN,NaN,Korea,Jeju-do,Jeju-do,overseas inflow,NaN,NaN,NaN,2020-06-16,2020-06-24,NaN,released
5162,7000000017,NaN,NaN,Bangladesh,Jeju-do,Jeju-do,overseas inflow,NaN,72,NaN,2020-06-18,NaN,NaN,isolated
5163,7000000018,NaN,NaN,Bangladesh,Jeju-do,Jeju-do,overseas inflow,NaN,NaN,NaN,2020-06-18,NaN,NaN,isolated
5164,7000000019,NaN,NaN,Bangladesh,Jeju-do,Jeju-do,overseas inflow,NaN,NaN,NaN,2020-06-18,NaN,NaN,isolated

In [135]:
dataP2 = dataP.iloc[:, [2,10,11]].dropna(axis=0).copy()

In [136]:
dataP2

      age confirmed_date released_date
0     50s     2020-01-23    2020-02-05
1     30s     2020-01-30    2020-03-02
2     50s     2020-01-30    2020-02-19
3     20s     2020-01-30    2020-02-15
4     20s     2020-01-31    2020-02-24
5     50s     2020-01-31    2020-02-19
6     20s     2020-01-31    2020-02-10
7     20s     2020-02-02    2020-02-24
8     30s     2020-02-05    2020-02-21
9     60s     2020-02-05    2020-02-29
10    50s     2020-02-06    2020-02-29
11    20s     2020-02-07    2020-02-27
13    60s     2020-02-16    2020-03-12
15    70s     2020-02-19    2020-03-11
16    70s     2020-02-20    2020-03-01
18    70s     2020-02-20    2020-03-08
20    80s     2020-02-20    2020-03-08
23    40s     2020-02-22    2020-03-14
25    30s     2020-02-22    2020-03-11
26    50s     2020-02-23    2020-03-04
27    70s     2020-02-23    2020-03-11
28    20s     2020-02-26    2020-03-11
30    50s     2020-02-22    2020-03-19
32    50s     2020-02-24    2020-03-10
33    20s     2020-02-24    2020-03-17
34    30s     2020-02-25    2020-03-20
36    40s     2020-02-25    2020-03-11
40    50s     2020-02-25    2020-03-04
44    40s     2020-02-26    2020-03-04
45    20s     2020-02-26    2020-03-03
...   ...            ...           ...
5095  20s     2020-03-10    2020-03-30
5096  40s     2020-03-11    2020-03-14
5097  30s     2020-03-16    2020-04-08
5098  50s     2020-03-19    2020-05-04
5099  50s     2020-03-21    2020-05-06
5100  20s     2020-03-22    2020-04-19
5104  40s     2020-03-28    2020-04-15
5107  50s     2020-03-20    2020-05-01
5108  60s     2020-03-31    2020-04-25
5121  30s     2020-04-05    2020-05-11
5127  20s     2020-04-16    2020-04-25
5128  60s     2020-04-21    2020-05-15
5129  50s     2020-05-11    2020-05-29
5130  20s     2020-05-12    2020-06-07
5131  30s     2020-05-16    2020-05-24
5146  20s     2020-02-20    2020-03-23
5147  20s     2020-02-22    2020-03-07
5148  40s     2020-03-02    2020-03-15
5149  40s     2020-03-04    2020-03-21
5150  20s     2020-03-24    2020-05-08
5151  30s     2020-03-24    2020-05-05
5152  20s     2020-03-25    2020-04-03
5153  10s     2020-03-27    2020-04-12
5154  20s     2020-03-29    2020-04-28
5155  20s     2020-04-03    2020-04-21
5156  30s     2020-04-03    2020-05-19
5157  20s     2020-04-03    2020-05-05
5158  10s     2020-04-14    2020-04-26
5159  30s     2020-05-09    2020-06-12
5160  30s     2020-05-30    2020-06-13

[1576 rows x 3 columns]

In [137]:
dataP2["confirmed_date"] = dataP2["confirmed_date"].astype('datetime64[ns]')
dataP2["released_date"] = dataP2["released_date"].astype('datetime64[ns]')

In [138]:
dataP2['days'] = dataP2['released_date'] - dataP2['confirmed_date']
dataP2

      age confirmed_date released_date    days
0     50s     2020-01-23    2020-02-05 13 days
1     30s     2020-01-30    2020-03-02 32 days
2     50s     2020-01-30    2020-02-19 20 days
3     20s     2020-01-30    2020-02-15 16 days
4     20s     2020-01-31    2020-02-24 24 days
5     50s     2020-01-31    2020-02-19 19 days
6     20s     2020-01-31    2020-02-10 10 days
7     20s     2020-02-02    2020-02-24 22 days
8     30s     2020-02-05    2020-02-21 16 days
9     60s     2020-02-05    2020-02-29 24 days
10    50s     2020-02-06    2020-02-29 23 days
11    20s     2020-02-07    2020-02-27 20 days
13    60s     2020-02-16    2020-03-12 25 days
15    70s     2020-02-19    2020-03-11 21 days
16    70s     2020-02-20    2020-03-01 10 days
18    70s     2020-02-20    2020-03-08 17 days
20    80s     2020-02-20    2020-03-08 17 days
23    40s     2020-02-22    2020-03-14 21 days
25    30s     2020-02-22    2020-03-11 18 days
26    50s     2020-02-23    2020-03-04 10 days
27    70s     2020-02-23    2020-03-11 17 days
28    20s     2020-02-26    2020-03-11 14 days
30    50s     2020-02-22    2020-03-19 26 days
32    50s     2020-02-24    2020-03-10 15 days
33    20s     2020-02-24    2020-03-17 22 days
34    30s     2020-02-25    2020-03-20 24 days
36    40s     2020-02-25    2020-03-11 15 days
40    50s     2020-02-25    2020-03-04  8 days
44    40s     2020-02-26    2020-03-04  7 days
45    20s     2020-02-26    2020-03-03  6 days
...   ...            ...           ...     ...
5095  20s     2020-03-10    2020-03-30 20 days
5096  40s     2020-03-11    2020-03-14  3 days
5097  30s     2020-03-16    2020-04-08 23 days
5098  50s     2020-03-19    2020-05-04 46 days
5099  50s     2020-03-21    2020-05-06 46 days
5100  20s     2020-03-22    2020-04-19 28 days
5104  40s     2020-03-28    2020-04-15 18 days
5107  50s     2020-03-20    2020-05-01 42 days
5108  60s     2020-03-31    2020-04-25 25 days
5121  30s     2020-04-05    2020-05-11 36 days
5127  20s     2020-04-16    2020-04-25  9 days
5128  60s     2020-04-21    2020-05-15 24 days
5129  50s     2020-05-11    2020-05-29 18 days
5130  20s     2020-05-12    2020-06-07 26 days
5131  30s     2020-05-16    2020-05-24  8 days
5146  20s     2020-02-20    2020-03-23 32 days
5147  20s     2020-02-22    2020-03-07 14 days
5148  40s     2020-03-02    2020-03-15 13 days
5149  40s     2020-03-04    2020-03-21 17 days
5150  20s     2020-03-24    2020-05-08 45 days
5151  30s     2020-03-24    2020-05-05 42 days
5152  20s     2020-03-25    2020-04-03  9 days
5153  10s     2020-03-27    2020-04-12 16 days
5154  20s     2020-03-29    2020-04-28 30 days
5155  20s     2020-04-03    2020-04-21 18 days
5156  30s     2020-04-03    2020-05-19 46 days
5157  20s     2020-04-03    2020-05-05 32 days
5158  10s     2020-04-14    2020-04-26 12 days
5159  30s     2020-05-09    2020-06-12 34 days
5160  30s     2020-05-30    2020-06-13 14 days

[1576 rows x 4 columns]

In [139]:
dataP2.groupby('age').count()

      confirmed_date  released_date  days
age
0s                19             19    19
100s               1              1     1
10s               65             65    65
20s              409            409   409
30s              211            211   211
40s              241            241   241
50s              300            300   300
60s              173            173   173
70s               83             83    83
80s               60             60    60
90s               14             14    14

In [150]:
dataP2["days"] = dataP2["days"].astype('int64')
dataP2

      age confirmed_date released_date              days
0     50s     2020-01-23    2020-02-05  1123200000000000
1     30s     2020-01-30    2020-03-02  2764800000000000
2     50s     2020-01-30    2020-02-19  1728000000000000
3     20s     2020-01-30    2020-02-15  1382400000000000
4     20s     2020-01-31    2020-02-24  2073600000000000
5     50s     2020-01-31    2020-02-19  1641600000000000
6     20s     2020-01-31    2020-02-10   864000000000000
7     20s     2020-02-02    2020-02-24  1900800000000000
8     30s     2020-02-05    2020-02-21  1382400000000000
9     60s     2020-02-05    2020-02-29  2073600000000000
10    50s     2020-02-06    2020-02-29  1987200000000000
11    20s     2020-02-07    2020-02-27  1728000000000000
13    60s     2020-02-16    2020-03-12  2160000000000000
15    70s     2020-02-19    2020-03-11  1814400000000000
16    70s     2020-02-20    2020-03-01   864000000000000
18    70s     2020-02-20    2020-03-08  1468800000000000
20    80s     2020-02-20    2020-03-08  1468800000000000
23    40s     2020-02-22    2020-03-14  1814400000000000
25    30s     2020-02-22    2020-03-11  1555200000000000
26    50s     2020-02-23    2020-03-04   864000000000000
27    70s     2020-02-23    2020-03-11  1468800000000000
28    20s     2020-02-26    2020-03-11  1209600000000000
30    50s     2020-02-22    2020-03-19  2246400000000000
32    50s     2020-02-24    2020-03-10  1296000000000000
33    20s     2020-02-24    2020-03-17  1900800000000000
34    30s     2020-02-25    2020-03-20  2073600000000000
36    40s     2020-02-25    2020-03-11  1296000000000000
40    50s     2020-02-25    2020-03-04   691200000000000
44    40s     2020-02-26    2020-03-04   604800000000000
45    20s     2020-02-26    2020-03-03   518400000000000
...   ...            ...           ...               ...
5095  20s     2020-03-10    2020-03-30  1728000000000000
5096  40s     2020-03-11    2020-03-14   259200000000000
5097  30s     2020-03-16    2020-04-08  1987200000000000
5098  50s     2020-03-19    2020-05-04  3974400000000000
5099  50s     2020-03-21    2020-05-06  3974400000000000
5100  20s     2020-03-22    2020-04-19  2419200000000000
5104  40s     2020-03-28    2020-04-15  1555200000000000
5107  50s     2020-03-20    2020-05-01  3628800000000000
5108  60s     2020-03-31    2020-04-25  2160000000000000
5121  30s     2020-04-05    2020-05-11  3110400000000000
5127  20s     2020-04-16    2020-04-25   777600000000000
5128  60s     2020-04-21    2020-05-15  2073600000000000
5129  50s     2020-05-11    2020-05-29  1555200000000000
5130  20s     2020-05-12    2020-06-07  2246400000000000
5131  30s     2020-05-16    2020-05-24   691200000000000
5146  20s     2020-02-20    2020-03-23  2764800000000000
5147  20s     2020-02-22    2020-03-07  1209600000000000
5148  40s     2020-03-02    2020-03-15  1123200000000000
5149  40s     2020-03-04    2020-03-21  1468800000000000
5150  20s     2020-03-24    2020-05-08  3888000000000000
5151  30s     2020-03-24    2020-05-05  3628800000000000
5152  20s     2020-03-25    2020-04-03   777600000000000
5153  10s     2020-03-27    2020-04-12  1382400000000000
5154  20s     2020-03-29    2020-04-28  2592000000000000
5155  20s     2020-04-03    2020-04-21  1555200000000000
5156  30s     2020-04-03    2020-05-19  3974400000000000
5157  20s     2020-04-03    2020-05-05  2764800000000000
5158  10s     2020-04-14    2020-04-26  1036800000000000
5159  30s     2020-05-09    2020-06-12  2937600000000000
5160  30s     2020-05-30    2020-06-13  1209600000000000

[1576 rows x 4 columns]

In [149]:
dataP3 = dataP2.groupby('age').mean()
dataP3

              days
age
0s    2.119074e+15
100s  5.702400e+15
10s   1.798449e+15
20s   2.028816e+15
30s   2.003989e+15
40s   2.043485e+15
50s   2.063232e+15
60s   2.318317e+15
70s   2.834545e+15
80s   3.000960e+15
90s   2.487086e+15

In [145]:
dataP3["days"] = dataP3["days"].astype('datetime64[ns]')
dataP3

                              days
age
0s   1970-01-25 12:37:53.684210526
100s 1970-03-08 00:00:00.000000000
10s  1970-01-21 19:34:09.230769230
20s  1970-01-24 11:33:35.647921760
30s  1970-01-24 04:39:48.625592417
40s  1970-01-24 15:38:05.477178423
50s  1970-01-24 21:07:12.000000000
60s  1970-01-27 19:58:36.763005780
70s  1970-02-02 19:22:24.578313253
80s  1970-02-04 17:36:00.000000000
90s  1970-01-29 18:51:25.714285714